<h1>Welcome to findaddress</h1>
<form action="{% url 'finda:results' %}" method="post">
{% csrf_token %}
<div>address number:<input type="text" name="number" /></div>
<input type="submit" value="find" />
<input type="reset" value="clear" />
</form>